.ipynb_checkpoints/
__pycache__/
experiments/
.DS_Store
1+1scalar/
1+1scalar_scaling/
scalar2d/
scalar3d/
scalar4d/
u1_2d_obc/
u1_2d_pbc/
u1_3d_pbc/
su2_2d_obc/
sample_scalar_2d
sample_scalar_3d
sample_scalar_4d
sample_u1_2d_obc