absl-py==1.4.0
chex==0.1.82
equinox==0.10.11
etils==1.4.1
flax==0.7.2
importlib-metadata==6.8.0
importlib-resources==6.0.1
jax==0.4.14
jaxlib==0.4.14
jaxtyping==0.2.21
markdown-it-py==3.0.0
mdurl==0.1.2
ml-dtypes==0.2.0
msgpack==1.0.5
nest-asyncio==1.5.7
numpy==1.25.2
opt-einsum==3.3.0
optax==0.1.7
orbax-checkpoint==0.3.5
protobuf==4.24.3
Pygments==2.16.1
PyYAML==6.0.1
rich==13.5.2
scipy==1.11.2
tensorstore==0.1.41
toolz==0.12.0
typeguard==4.1.3
typing_extensions==4.7.1
zipp==3.16.2
